

h4{
  margin: 0;
  font-size: 1.5em;
  color: var(--primary);
}

h3{
  margin: 0;
  font-size: 1.2em;
  color: var(--primary);
}

.columns {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.entry-details{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.entry-details:hover{
  
}